<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhh.mybatis.mapper.UserMapper">


    <!-- 定义resultMap
		将SELECT id id_,username username_ FROM USER 和User类中的属性作一个映射关系
		type：resultMap最终映射的java对象类型,可以使用别名
		id：对resultMap的唯一标识
	 -->
    <resultMap id="userResultMap" type="user">
        <!-- id表示查询结果集中唯一标识 (支持联合主键，使用多个id标签)
             column：查询出来的列名
             property：type指定的pojo类型中的属性名
             result：对普通名映射定义				-->
        <id column="id_" 		   property="id"/>
        <result column="username_" property="username"/>
        <result column="sex_" 	   property="sex"/>
        <result column="birthday_" property="birthday"/>
        <result column="address_"  property="address"/>
    </resultMap>

    <!-- 使用resultMap进行输出映射
        resultMap：指定定义的resultMap的id，如果这个resultMap在其它的mapper文件，前边需要加namespace
    -->
    <select id="findUserByIdResultMap" parameterType="int" resultMap="userResultMap">
        SELECT id id_, username username_ , sex sex_ ,
        birthday birthday_, address address_
        FROM USER WHERE id=#{value}
    </select>



    <sql id="query_user_where">
        <if test="userCustom!=null">
            <if test="userCustom.sex!=null and userCustom.sex!=''">
                and user.sex = #{userCustom.sex}
            </if>
            <if test="userCustom.username!=null and userCustom.username!=''">
                and user.username LIKE '%${userCustom.username}%'
            </if>
            <if test="ids!=null">
                <!-- 使用实现下边的sql拼接： AND (id=1 OR id=10 OR id=16)  -->
                <foreach collection="ids" item="user_id" open="AND (" close=")" separator="OR">
                    id=#{user_id}
                </foreach>
            </if>
        </if>
    </sql>

    <!-- 使用 foreach遍历传入ids
         collection：指定输入 对象中集合属性         item：每个遍历生成对象中
         open：开始遍历时拼接的串                            close：结束遍历时拼接的串
         separator：遍历的两个对象中需要拼接的串
    -->
    <!-- 实现  “and id IN(1,10,16)”拼接
         <foreach collection="ids" item="user_id" open="and id IN(" close=")" separator=",">
            #{user_id}
         </foreach>
    -->

    <select id="findUserList" parameterType="UserQueryVo" resultType="UserCustom">
        SELECT * FROM USER
        <where>
            <include refid="query_user_where" />
        </where>
    </select>



</mapper>