<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
	
<mapper namespace="com.yhh.mybatis.mapper.ItemsCustomMapper" >

   <!-- 定义商品查询的sql片段，就是商品查询条件 -->
   <sql id="query_items_where">
   		<if test="itemsCustom != null">
   			<if test="itemsCustom.name != null and itemsCustom.name != ''">
   				items.name LIKE '%${itemsCustom.name}%'
   			</if>
   		</if>	
   </sql>
  	
  	<!-- 商品列表查询 -->
  	<select id="findItemsList" parameterType="com.yhh.mybatis.vo.ItemsQueryVo"
  		 	resultType="com.yhh.mybatis.entity.ItemsCustom">
  		SELECT items.* FROM items  
  		<where>
  			<include refid="query_items_where" />
  		</where>
  	</select>


</mapper>